Node-Red flow
[{"id":"20f74bf1.f73e74","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"33894fa9.19a6d","type":"http in","z":"20f74bf1.f73e74","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":130,"y":60,"wires":[["7d9dec87.f13e24"]]},{"id":"8825995c.f4b548","type":"http response","z":"20f74bf1.f73e74","name":"","statusCode":"","headers":{},"x":670,"y":60,"wires":[]},{"id":"7d9dec87.f13e24","type":"function","z":"20f74bf1.f73e74","name":"command","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[["8825995c.f4b548","4ce898b0.111328","5d3844bb.f47a5c"]]},{"id":"3b334108.c950be","type":"ui_button","z":"20f74bf1.f73e74","name":"","group":"b887eb6f.291b98","order":3,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"str","topic":"","x":410,"y":200,"wires":[["4ce898b0.111328","5d3844bb.f47a5c"]]},{"id":"207529f0.bf1e96","type":"ui_button","z":"20f74bf1.f73e74","name":"","group":"b887eb6f.291b98","order":4,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"str","topic":"","x":400,"y":280,"wires":[["4ce898b0.111328","5d3844bb.f47a5c"]]},{"id":"4ce898b0.111328","type":"ibmiot out","z":"20f74bf1.f73e74","authentication":"apiKey","apiKey":"4778b33b.a3e65c","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"weather","format":"json","data":"webpage","qos":0,"name":"IBM IoT","service":"registered","x":630,"y":240,"wires":[]},{"id":"c5ffe752.fec0a8","type":"ibmiot in","z":"20f74bf1.f73e74","authentication":"apiKey","apiKey":"4778b33b.a3e65c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"Weather","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":130,"y":420,"wires":[["66e1cbe0.86ff64","8d58525c.ff063","87f9e6d8.f81b58","c954d588.217408"]]},{"id":"66e1cbe0.86ff64","type":"debug","z":"20f74bf1.f73e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":420,"wires":[]},{"id":"8d58525c.ff063","type":"function","z":"20f74bf1.f73e74","name":"Temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["66e1cbe0.86ff64","16f72eb1.9d7de1"]]},{"id":"87f9e6d8.f81b58","type":"function","z":"20f74bf1.f73e74","name":"Moisture","func":"global.set('moisture',msg.payload.Moisture)\nmsg.payload=msg.payload.Moisture\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["66e1cbe0.86ff64","5cfc5707.628b68"]]},{"id":"c954d588.217408","type":"function","z":"20f74bf1.f73e74","name":"Humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["66e1cbe0.86ff64","4c30c60d.2b0488"]]},{"id":"16f72eb1.9d7de1","type":"ui_gauge","z":"20f74bf1.f73e74","name":"","group":"b887eb6f.291b98","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":340,"wires":[]},{"id":"5cfc5707.628b68","type":"ui_gauge","z":"20f74bf1.f73e74","name":"","group":"b887eb6f.291b98","order":1,"width":0,"height":0,"gtype":"gage","title":"Moisture","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":590,"y":480,"wires":[]},{"id":"4c30c60d.2b0488","type":"ui_gauge","z":"20f74bf1.f73e74","name":"","group":"b887eb6f.291b98","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":560,"wires":[]},{"id":"9a7cb96d.ab7598","type":"http in","z":"20f74bf1.f73e74","name":"","url":"/webpage","method":"get","upload":false,"swaggerDoc":"","x":240,"y":640,"wires":[["9353b336.44ec7"]]},{"id":"93c32eb4.ed257","type":"http response","z":"20f74bf1.f73e74","name":"","statusCode":"","headers":{},"x":580,"y":640,"wires":[]},{"id":"9353b336.44ec7","type":"function","z":"20f74bf1.f73e74","name":"webpage","func":"msg.payload={'Temperature':global.get(\"temperature\"),'Moisture':global.get(\"moisture\"),'Humidity':global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["93c32eb4.ed257"]]},{"id":"5d3844bb.f47a5c","type":"debug","z":"20f74bf1.f73e74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":180,"wires":[]},{"id":"b887eb6f.291b98","type":"ui_group","z":"","name":"Smart Irrigation","tab":"ea9a9bc5.6eba88","order":1,"disp":true,"width":"6","collapse":false},{"id":"4778b33b.a3e65c","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ea9a9bc5.6eba88","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
